{% extends "layout.html" %} {% block body %}
<div class="container my-4">
  <h1 class="my-4">
    <i style="font-size: 32px" class="fa mx-2">&#xf2ce;</i>Diabetes Prediction
  </h1>
  <ul>
    <li>Pregnancies: Number of times pregnant</li>
    <li>
      Glucose: Plasma glucose concentration a 2 hours in an oral glucose
      tolerance test
    </li>
    <li>BloodPressure: Diastolic blood pressure (mm Hg)</li>
    <li>SkinThickness: Triceps skin fold thickness (mm)</li>
    <li>Insulin: 2-Hour serum insulin (mu U/ml)</li>
    <li>BMI: Body mass index (weight in kg/(height in m)^2)</li>
    <li>DiabetesPedigreeFunction: Diabetes pedigree function</li>
    <li>Age: Age (years)</li>
  </ul>
  <form class="row gx-3 gy-3 align-items-center" id="diabetes-form">
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="Pregnancies"
        name="Pregnancies"
        placeholder="Number of Pregnancies"
      />
      <label for="Pregnancies">Number of Pregnancies</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="Glucose"
        name="Glucose"
        placeholder="Glucose Level"
      />
      <label for="Glucose">Glucose Level</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="BloodPressure"
        name="BloodPressure"
        placeholder="Blood Pressure value"
      />
      <label for="BloodPressure">Blood Pressure value</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="SkinThickness"
        name="SkinThickness"
        placeholder="Skin Thickness value"
      />
      <label for="SkinThickness">Skin Thickness value</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="Insulin"
        name="Insulin"
        placeholder="Insulin Level"
      />
      <label for="Insulin">Insulin Level</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="BMI"
        name="BMI"
        placeholder="BMI value"
      />
      <label for="BMI">BMI value</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="DiabetesPedigreeFunction"
        name="DiabetesPedigreeFunction"
        placeholder="Diabetes Pedigree Function value"
      />
      <label for="DiabetesPedigreeFunction"
        >Diabetes Pedigree Function value</label
      >
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="Age"
        name="Age"
        placeholder="Age of the Person"
      />
      <label for="Age">Age of the Person</label>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Predict</button>
    </div>
  </form>
  <div id="diabetes-prediction"></div>
</div>
{% endblock %}
