{% extends "layout.html" %} {% block body %}
<div class="container my-4">
  <h1 class="my-4">
    <i style="font-size: 32px" class="fa mx-2">&#xf085;</i>Parkinson's
    Prediction
  </h1>
  <ul>
    <li>MDVP:Fo(Hz) - Average vocal fundamental frequency</li>
    <li>MDVP:Fhi(Hz) - Maximum vocal fundamental frequency</li>
    <li>MDVP:Flo(Hz) - Minimum vocal fundamental frequency</li>
    <li>MDVP:Jitter(%), MDVP:Jitter(Abs), MDVP:RAP, MDVP:PPQ, Jitter:DDP - Several measures of variation in fundamental frequency</li>
    <li>MDVP:Shimmer, MDVP:Shimmer(dB), Shimmer:APQ3, Shimmer:APQ5, MDVP:APQ, Shimmer:DDA - Several measures of variation in amplitude</li>
    <li>NHR, HNR - Two measures of the ratio of noise to tonal components in the voice</li>
    <li>RPDE, D2 - Two nonlinear dynamical complexity measures</li>
    <li>DFA - Signal fractal scaling exponent</li>
    <li>spread1, spread2, PPE - Three nonlinear measures of fundamental frequency variation</li>
  </ul>
  <form class="row gx-3 gy-3 align-items-center" id="parkinsons-form">
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="fo"
        name="fo"
        placeholder="MDVP:Fo(Hz)"
      />
      <label for="fo">MDVP:Fo(Hz)</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="fhi"
        name="fhi"
        placeholder="MDVP:Fhi(Hz)"
      />
      <label for="fhi">MDVP:Fhi(Hz)</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="flo"
        name="flo"
        placeholder="MDVP:Flo(Hz)"
      />
      <label for="flo">MDVP:Flo(Hz)</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="Jitter_percent"
        name="Jitter_percent"
        placeholder="MDVP:Jitter(%)"
      />
      <label for="Jitter_percent">MDVP:Jitter(%)</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="JJitter_Abs"
        name="Jitter_Abs"
        placeholder="MDVP:Jitter(Abs)"
      />
      <label for="Jitter_Abs">MDVP:Jitter(Abs)</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="RAP"
        name="RAP"
        placeholder="MDVP:RAP"
      />
      <label for="RAP">MDVP:RAP</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="PPQ"
        name="PPQ"
        placeholder="MDVP:PPQ"
      />
      <label for="PPQ">MDVP:PPQ</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="DDP"
        name="DDP"
        placeholder="Jitter:DDP"
      />
      <label for="DDP">Jitter:DDP</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="Shimmer"
        name="Shimmer"
        placeholder="MDVP:Shimmer"
      />
      <label for="Shimmer">MDVP:Shimmer</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="Shimmer_dB"
        name="Shimmer_dB"
        placeholder="MDVP:Shimmer(dB)"
      />
      <label for="Shimmer_dB">MDVP:Shimmer(dB)</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="APQ3"
        name="APQ3"
        placeholder="Shimmer:APQ3"
      />
      <label for="APQ3">Shimmer:APQ3</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="APQ5"
        name="APQ5"
        placeholder="Shimmer:APQ5"
      />
      <label for="APQ5">Shimmer:APQ5</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="APQ"
        name="APQ"
        placeholder="MDVP:APQ"
      />
      <label for="APQ">MDVP:APQ</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="DDA"
        name="DDA"
        placeholder="Shimmer:DDA"
      />
      <label for="DDA">Shimmer:DDA</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="NHR"
        name="NHR"
        placeholder="NHR"
      />
      <label for="NHR">NHR</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="HNR"
        name="HNR"
        placeholder="HNR"
      />
      <label for="HNR">HNR</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="RPDE"
        name="RPDE"
        placeholder="RPDE"
      />
      <label for="RPDE">RPDE</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="DFA"
        name="DFA"
        placeholder="DFA"
      />
      <label for="DFA">DFA</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="spread1"
        name="spread1"
        placeholder="spread1"
      />
      <label for="spread1">spread1</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="spread2"
        name="spread2"
        placeholder="spread2"
      />
      <label for="spread2">spread2</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="D2"
        name="D2"
        placeholder="D2"
      />
      <label for="D2">D2</label>
    </div>
    <div class="form-floating col-sm-3">
      <input
        type="number"
        step="any"
        class="form-control"
        id="PPE"
        name="PPE"
        placeholder="PPE"
      />
      <label for="PPE">PPE</label>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-warning" id="random-button">Random & Predict</button>
      <button type="submit" class="btn btn-primary">Predict</button>
    </div>
  </form>
  <div id="parkinsons-prediction"></div>
</div>
{% endblock %}
